{% extends 'main/templates/base.html' %}
{% block content %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<style>
    .row .col {
        border-style: groove;
        text-align: center;
    }
</style>
<div class="d-flex mb-3">
    <button type="button" class="btn btn-info fw-bold" onclick="Hide('cart_form')">корзина</button>
    <button type="button" class="btn btn-info fw-bold ms-3" onclick="Hide('order_form')">заказы</button>
</div>
<div>
    {% if user.carts.all %}
    <form action="" method="post" style="display: none;" id="cart_form">
        {% csrf_token %}
        <div class="row">
            <div class="col">наименование</div>
            <div class="col">цена, руб./шт</div>
            <div class="col">количество, шт.</div>
            <div class="col">стоимость, руб.</div>
            <div class="col">добавить/удалить</div>
        </div>
        {% for cart in user.carts.all %}
        <div class="row">

            <div class="col">
                <input type="checkbox" name="select_cart" value={{cart.id}}>
                <a href="{{cart.product.get_absolute_url}}" onmouseover="displayImg({{cart.id}})"
                    onmouseleave="hideImg({{cart.id}})">{{cart.product.name_product}}</a>
            </div>
            <div id="{{cart.id}}" style="width: 128px; display: none;" class="position-absolute">
                <img src="{{cart.product.image.url}}" style="object-fit: contain;" class="rounded-pill">
            </div>

            <div class="col">{{cart.product.price|floatformat:"2g"}}</div>
            <div class="col">{{cart.quantity}}</div>
            <div class="col">{{cart.get_pos_sum|floatformat:"2g"}}</div>
            <div class="col">
                <a href="{% url 'add_quant_cart' type='prod' cart_id=cart.id  %}"><i class="bi bi-patch-plus"></i></a>
                <span> </span>
                <a href="{% url 'del_from_cart' type='prod' cart_id=cart.id  %}"><i class="bi bi-patch-minus"></i></a>
            </div>
        </div>
        {% endfor %}
        {% for cc in user.carts_constr.all %}
        {% with cc.get_data as data %}
        <div class="row">
            <div class="col text-start" style="line-height: 0.7;">
                <div class="d-flex">
                    <div>
                        <input type="checkbox" name="select_consrt_cart" value={{cc.id}}>
                    </div>
                    <div>

                        <p class="fw-bold">количество слоев: {{data.layers_size}}</p>
                        {% for layer in data.layers %}
                        <p class="fw-bold">слой {{layer.step}}</p>
                        <p class="ms-2">бисквит: {{layer.bisquit}}</p>
                        <p class="ms-2">форма: {{layer.form}}</p>
                        {% for key,val in layer.size.items %}
                        <p class="ms-3">{{key}} {{val|floatformat:2}} см.</p>
                        {% endfor %}
                        {% endfor %}
                        <p>начинка: {{data.filling}}</p>
                        <p>вес торта: {{data.full_weight}} кг</p>
                        <p>ккал в торте: {{data.ful_calorie}} ккал</p>
                        <p>гостей: {{data.guest}}</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <p>{{cc.price|floatformat:"2g"}}</p>
            </div>
            <div class="col">
                <p>{{cc.quantity}}</p>
            </div>
            <div class="col">
                <p>{{cc.get_sum|floatformat:"2g"}}</p>
            </div>
            <div class="col">
                <a href="{% url 'add_quant_cart' type='constr' cart_id=cc.id %}"><i class="bi bi-patch-plus"></i></a>
                <span> </span>
                <a href="{% url 'del_from_cart' type='constr' cart_id=cc.id %}"><i class="bi bi-patch-minus"></i></a>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        <p class="text-end"><span class="fw-bold">всего: </span>{{user.sum_cart|floatformat:"2g"}} руб.</p>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary me-3">заказать</button>
            <a href="{% url 'del_cart' %}" class="btn btn-outline-success ms-3">очистить корзину</a>
        </div>
    </form>
    {% else %}
    <h3 style="display: none;" id="cart_form">корзина пуста</h3>
    {% endif %}
    <div style="display: none;" id="order_form">

        {% if orders %}
        <h3 class="text-span">заказы</h3>
        {% regroup orders by created_at.date as orders_list %}
        {% for date in orders_list %}
        {{date.grouper}}
        <div>
            {% for order in date.list %}
            <div class="d-flex">
                <span>{{order.product|default:''}}</span>
                {% if order.consrt %}
                {% with order.get_data as data %}
                <span data-toggle="tooltip" title="
                {% for layer in data.layers %}
                слой {{layer.step}}
                {{layer.bisquit}}<br>форма: {{layer.form}}
                                {% for key,val in layer.size.items %}
                                <br>{{key}} {{val|floatformat:2}} см.
                                {% endfor %}
                                <p>начинка: {{data.filling}}</p>
                </span>
                {% endfor %}
                <p>гостей: {{data.guest}}</p>
                <p>вес торта: {{data.full_weight|floatformat:2}} кг</p>
                <p>ккал в торте: {{data.ful_calorie|floatformat:2}} ккал</p>
                ">на заказ: </span>

                {% endwith %}
                {% endif %}
                <span> * {{order.quantity}} шт.</span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <h3 class="text-span">заказов нет</h3>
        {% endif %}
    </div>
</div>

<script>
    function displayImg(id) {
        const x = event.clientX; // получаем координату X мыши
        const y = event.clientY; // получаем координату Y мыши
        img = document.getElementById(id)
        img.style.left = x + 'px'
        img.style.top = y + 'px'
        img.style.display = "block";
    }
    function hideImg(id) {
        img = document.getElementById(id)
        img.style.display = "none";
    }
</script>
<script>
    function Hide(id) {
        const div = document.getElementById(id);
        if (div) { // Check if the element exists
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        } else {
            console.error(`Element with id "${id}" not found.`);
        }
    }
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true // Позволяет использовать HTML в подсказках
        });
    });
</script>
{% endblock %}