{% extends 'main/templates/base.html' %}
{% load custom_filters %}
{% block content %}

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<style>
    .suggestions-promo {
    display:none!important;}
    .row .col {
        border-style: groove;
        text-align: center;
    }

    .hidden {
        display: none;
    }

    #cardInput .input-group-sm {
        width: fit-content;
    }

    .suggestions-wrapper {
    margin-left:25px!important;
    }

</style>
<div class="d-flex mb-3">
    <button type="button" class="btn btn-info fw-bold" onclick="Hide('cart_form')">корзина</button>
    <button type="button" class="btn btn-info fw-bold ms-3" onclick="Hide('order_form')">заказы</button>
</div>
<div>
    {% if user.carts.all or user.carts_constr.all %}
    <form action="" method="post" style="display: none;" id="cart_form">
        {% csrf_token %}
        <div class="row">
            <div class="col">наименование</div>
            <div class="col">цена, руб./шт</div>
            <div class="col">количество, шт.</div>
            <div class="col">стоимость, руб.</div>
            <div class="col">добавить/удалить</div>
        </div>
        {% if user.carts.all %}
        {% for cart in user.carts.all %}
        <div class="row">
            <div class="col"  onmouseover="displayImg({{cart.id}})"
                   onmouseleave="hideImg({{cart.id}})">
                <input type="checkbox" name="select_cart" class="select_cart" value={{cart.id}}>
                <a href="{{cart.product.get_absolute_url}}">{{cart.product.name_product}}</a>
            </div>
            <div id="{{cart.id}}" style="width: 128px; display: none;" class="position-absolute">
                <img src="{{cart.product.image.url}}" style="width: 256px;object-fit: contain;" class="rounded-pill">
            </div>
            <div class="col">
                {% if not user.check_discount %}
                <strong> {{cart.product.price}} </strong>руб.
                {% else %}
                <s>{{cart.product.price}}</s> {{cart.product.price|discount}}руб.
                {% endif %}
            </div>
            <div class="col">{{cart.quantity}}</div>
            <div class="col">
                {% if not user.check_discount %}
                <strong> {{cart.get_pos_sum}} </strong>руб.
                {% else %}
                <s>{{cart.get_pos_sum}}</s> {{cart.get_pos_sum|discount}}руб.
                {% endif %}
            </div>
            <div class="col">
                <a href="{% url 'add_quant_cart' type='prod' cart_id=cart.id  %}"><i class="bi bi-patch-plus"></i></a>
                <span> </span>
                <a href="{% url 'del_from_cart' type='prod' cart_id=cart.id  %}"><i class="bi bi-patch-minus"></i></a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if user.carts_constr.all %}
        {% for cart_c in user.carts_constr.all %}
        <div class="row">
            <div class="col text-start">
                <input type="checkbox" name="select_consrt_cart" class="select_cart" value={{cart_c.id}}>
                <p><small>{{cart_c.data|linebreaksbr|safe}}</small></p>
            </div>
            <div class="col">
                {% if not user.check_discount %}
                <strong> {{cart_c.price}} </strong>руб.
                {% else %}
                <s>{{cart_c.price}}</s> {{cart_c.price|discount}}руб.
                {% endif %}
            </div>
            <div class="col">{{cart_c.quantity}}</div>
            <div class="col">
                {% if not user.check_discount %}
                <strong> {{cart_c.get_sum}} </strong>руб.
                {% else %}
                <s>{{cart_c.get_sum}}</s> {{cart_c.get_sum|discount}}руб.
                {% endif %}
            </div>
            <div class="col">
                <a href="{% url 'add_quant_cart' type='constr' cart_id=cart_c.id %}"><i
                        class="bi bi-patch-plus"></i></a>
                <span> </span>
                <a href="{% url 'del_from_cart' type='constr' cart_id=cart_c.id %}"><i
                        class="bi bi-patch-minus"></i></a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <p class="text-end"><span class="fw-bold">всего: </span>
            {% if not user.check_discount %}
            <strong> {{user.sum_cart}} </strong>руб.
            {% else %}
            <s>{{user.sum_cart}}</s> {{user.sum_cart|discount}}руб.
            {% endif %}
        </p>
        <div id="card" style="display: none;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="delivery">Выберите способ доставки:</label>
                </div>
                <select class="custom-select" id="delivery" name="delivery" onchange="toggleAddressInput()">
                    <option value="самовывоз">самовывоз</option>
                    <option value="доставка">доставка по адресу</option>
                </select>
            </div>


            <div id="addressInput" class="hidden w-50 p-3">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Введите адрес:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           id="address" name="address" placeholder="Ваш адрес">
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment">Выберите способ оплаты:</label>
                </div>
                <select class="custom-select" id="payment" name="payment" onchange="toggleCardInput()">
                    <option value="наличная">наличный расчет</option>
                    <option value="безналичная">оплата картой</option>
                </select>
            </div>
            <div id="cardInput" class="hidden">
                <h3>Введите данные карты:</h3>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Номер карты:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           name="cardNumber" placeholder="Номер карты" id="card-number">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Срок действия:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           name="expiryDate" placeholder="ММ/ГГ" maxlength="5" id="expiryDate">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">CVV:</span>
                    </div>
                    <input type="password" class="form-control" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm"
                           name="cvv" placeholder="CVV" maxlength="3">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary me-3" id="btn_order"
                    style="display: none;">заказать
            </button>
            <a href="{% url 'del_cart' %}" class="btn btn-outline-success ms-3">очистить корзину</a>
        </div>
    </form>
    {% else %}
    <h3 style="display: none;" id="cart_form" class=" fw-bold">корзина пуста</h3>
    {% endif %}
    <div style="display: none;" id="order_form">
        {% if orders %}
        <h3 class="text-span fw-bold">заказы</h3>
        {% regroup orders by created_at|date:"d-m-Y H:i" as orders_list %}
        {% for date in orders_list %}
        <p class="text-secondary text-end">{{date.grouper}}</p>
        <p>заказ № {{date.list.0.num_order}}</p>
        <div class="row border p-3 mb-2">
            {% for order in date.list %}
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <span>{{order.product|default:''}}</span>

                            {% if order.consrt %}
                            <span data-toggle="tooltip" title="
                        <p>{{order.consrt}}</p>
                        ">торт на заказ</span>
                            {% endif %}
                        </div>
                        <div class="col">
                            <span> * {{order.quantity}} шт.</span>
                        </div>
                        <div class="col">
                            <span> {{order.payment_summ}} руб.</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="text-start">
                {{date.list.0.json_place.delivery}}
                {{date.list.0.created_at}}
                <p>способ: {{date.list.0.json_place.delivery}} {{date.list.0.json_place.address}}</p>
                <p>оплата: {{date.list.0.json_payment.payment}}</p>
                <p class="text-info">состояние: {{ date.list.0.get_state_display }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="text-span">заказов нет</h3>
        {% endif %}
    </div>
</div>

<script>
    function displayImg(id) {
        const x = event.clientX; // получаем координату X мыши
        const y = event.clientY; // получаем координату Y мыши
        img = document.getElementById(id)
        img.style.left = x + 'px'
        img.style.top = y + 'px'
        img.style.display = "block";
    }
    function hideImg(id) {
        img = document.getElementById(id)
        img.style.display = "none";
    }
</script>
<script>
    function Hide(id) {
        const div = document.getElementById(id);
        if (div) { // Check if the element exists
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        } else {
            console.error(`Element with id "${id}" not found.`);
        }
    }
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true // Позволяет использовать HTML в подсказках
        });
    });
</script>
<script>
    function toggleAddressInput() {
        const deliverySelect = document.getElementById('delivery');
        const addressInput = document.getElementById('addressInput');
        console.log(deliverySelect.value)
        if (deliverySelect.value === 'доставка') {

            addressInput.classList.remove('hidden');
        } else {
            addressInput.classList.add('hidden');
        }
    }

    function toggleCardInput() {
        const paymentSelect = document.getElementById('payment');
        const cardInput = document.getElementById('cardInput');
        if (paymentSelect.value === 'безналичная') {
            cardInput.classList.remove('hidden');
        } else {
            cardInput.classList.add('hidden');
        }
    }
</script>
<script>
    // Получаем все чекбоксы и блок для отображения
    const checkboxes = document.querySelectorAll('.select_cart,.select_consrt_cart');
    const infoBlock = document.getElementById('card');
    const btn_order = document.getElementById('btn_order');

    // Функция для проверки состояния чекбоксов
    function checkCheckboxes() {
        let anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        infoBlock.style.display = anyChecked ? 'block' : 'none';
        btn_order.style.display = anyChecked ? 'block' : 'none';
    }

    // Добавляем обработчик события для каждого чекбокса
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', checkCheckboxes);
    });
</script>
<script>
    const expiryDateInput = document.getElementById('expiryDate');
    const cardNumberInput = document.getElementById('card-number');

    // Маска для ввода даты
    expiryDateInput.addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, ''); // Удаляем все нецифровые символы
        if (value.length > 2) {
            value = value.slice(0, 2) + '/' + value.slice(2, 4);
        }
        e.target.value = value;
    });

    // Маска для ввода номера карты
    cardNumberInput.addEventListener('input', function (e) {
        // Удаляем все нецифровые символы, кроме пробелов
        let value = e.target.value.replace(/[^\d]/g, ''); // Удаляем все нецифровые символы
        let formattedValue = '';

        // Форматируем номер карты с пробелами
        for (let i = 0; i < value.length; i++) {
            if (i > 0 && i % 4 === 0) {
                formattedValue += ' '; // Добавляем пробел каждые 4 цифры
            }
            formattedValue += value[i];
        }
        // Ограничиваем ввод до 16 цифр
        if (formattedValue.replace(/\s/g, '').length > 16) {
            formattedValue = formattedValue.slice(0, -1); // Удаляем последнюю введенную цифру
        }
        e.target.value = formattedValue; // Устанавливаем отформатированное значение
    });

    // Обработка отправки формы
    document.getElementById('cart_form').addEventListener('submit', function (e) {
        e.preventDefault(); // Отменяем стандартное поведение формы
        const paymentSelect = document.getElementById('payment');

        if (paymentSelect.value === 'безналичная') {
        // Имитация успешной или неудачной оплаты
        const isSuccess = Math.random() < 0.5; // 50% шанс на успех

        if (isSuccess) {
            alert('Оплата прошла успешно!'); // Успешная оплата
            // Здесь можно добавить логику для обработки успешной оплаты
            // Например, отправка формы на сервер
            this.submit(); // Отправляем форму
        } else {
            alert('Оплата не удалась. Пожалуйста, попробуйте еще раз.'); // Неудачная оплата
        }
        } else {
        // Если выбрана "наличная", просто отправляем форму
        this.submit();
    }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script>
    $("#address").suggestions({
        token: "93663fb5e271e7fb777835e7489ff93563d87426",
        type: "ADDRESS",
        constraints: {
            locations: [{ region: "Байконур" },]

            },

            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function(suggestion) {
                console.log(suggestion);
            }
    });
</script>
{% endblock %}
