{% extends 'main/templates/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .step {
        display: none;
        /* Скрываем все шаги по умолчанию */
    }

    .step.active {
        display: block;
        /* Показываем только активный шаг */
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{% static 'js/OrbitControls.js' %}"></script>

<h2>Введите количество слоев:</h2>
<input type="number" id="stepCount" min="1" required>
<button id="createSteps" class="btn btn-sm btn-success">Создать слои</button>

<div id="multiStepForm" style="margin-top: 20px;">
    <div id="stepsContainer"></div>
    <button type="button" id="prevBtn" style="display:none;" class="btn btn-sm btn-primary">Назад</button>
    <button type="button" id="nextBtn" style="display:none;" class="btn btn-sm btn-primary">Далее</button>
    <button type="submit" id="submitBtn" style="display:none;" class="btn btn-sm btn-primary">Отправить</button>
    <button type="button" id="buildCacke" style="display:none;" class="btn btn-sm btn-primary">buildCake</button>
</div>
<div id="container"></div>

<script>
    const stepsContainer = document.getElementById('stepsContainer');
    const jsonString = '{}';
    const jsonObject = JSON.parse(jsonString);
    let currentStep = 0;
    let totalSteps = 0;

    document.getElementById('createSteps').addEventListener('click', () => {
        totalSteps = parseInt(document.getElementById('stepCount').value) + 2;
        if (isNaN(totalSteps) || totalSteps < 1 || totalSteps - 2 > 5) {
            alert('Пожалуйста, введите корректное количество слоев. От 1 до 5');
            return;
        }

        // Очищаем контейнер шагов
        stepsContainer.innerHTML = '';
        currentStep = 0;

        // Создание шагов динамически
        for (let i = 1; i <= totalSteps; i++) {
            jsonObject[i] = {}
            const stepDiv = document.createElement('div');
            stepDiv.classList.add('step');
            if (i === 1) {
                stepDiv.classList.add('active'); // Первый шаг активен
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <div class="d-grid mt-2 mb-2 justify-content-between m-auto">
                    <label class="form-label">количество гостей: <span id="value_range"></span>
                        <input type="range" class="form-range" min="1" max="20" step="1" id="guest_range" onchange="showValue()" name="select_guest">
                    </label>
                    </div>
                    
                `;
            }
            else if ((i > 1) & (i < totalSteps))
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <label for="input${i}">Введите данные для слоя ${i - 1}:</label>
                    <label>форма слоя
                        <select name="select_form_${i}" onchange="showInputFields(${i})" id="shapeSelect_${i}">
                            <option>--------</option>
                            <option value="square" id="square_${i}">квадрат</option>
                            <option value="circle" id="circle_${i}">круг</option>
                            <option value="rectangle" id="rectangle_${i}">прямоугольник</option>
                        </select>
                    </label>
                    <div id="inputFields_${i}" class="div_input" style="display: none;" class="mt-3 mb-3">
                        <div id="squareFields_${i}" style="display: none;">
                            <label for="squareSide_${i}">Сторона квадрата:</label>
                            <input type="number" id="squareSide_${i}" name="squareSide_${i}" placeholder="Введите сторону" min='20' max='70'>
                        </div>
                        <div id="circleFields_${i}" style="display: none;">
                            <label for="circleRadius_${i}">Радиус круга:</label>
                            <input type="number" id="circleRadius_${i}" name="circleRadius_${i}" placeholder="Введите радиус" min='10' max='70'>
                        </div>
                        <div id="rectangleFields_${i}" style="display: none;">
                            <label for="rectangleWidth_${i}">Ширина прямоугольника:</label>
                            <input type="number" id="rectangleWidth_${i}" name="rectangleWidth_${i}" placeholder="Введите ширину" min='20' max='70'>
                            <label for="rectangleHeight_${i}">Длина прямоугольника:</label>
                            <input type="number" id="rectangleHeight_${i}" name="rectangleHeight_${i}" placeholder="Введите длину" min='20' max='70'>
                        </div>
                    </div>
                    
                    <div class="d-flex mt-3 mb-2 justify-content-between m-auto w-75">
                    {% for bisquit in bisquits %}
                    <button type="button" class="btn btn-outline-dark" title="{{bisquit.descrition}}" onclick="selectBisquit({{bisquit.id}},${i})">{{bisquit.title}}</button>
                    {% endfor %}
                    </div>
                    <input type="hidden" name="selected_bisquit_${i}" class="selected_bisquit" id="selected_bisquit_${i}">
                `;
            else
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <label for="input${i}">выберите начинку:</label>
                    <div class="d-flex mt-2 mb-2 justify-content-between m-auto w-75">
                    {% for filling in fillings %}
                    <button type="button" class="btn btn-outline-dark" title="{{filling.descrition}}" onclick="selectFilling({{filling.id}},${i})">{{filling.title}}</button>
                    {% endfor %}
                    </div>
                    <input type="hidden" name="selected_filling_${i}" id="selected_filling_${i}">
                    
                `;
            stepsContainer.appendChild(stepDiv);
        }
        const inputs = document.querySelectorAll('.div_input input');
        const bisquits = document.querySelectorAll('.selected_bisquit');

        function validateInput(input, errorElement) {
            const value = parseInt(input.value, 10);
            if (value < input.min || value > input.max) {
                alert(`Пожалуйста, введите число от ${input.min} до ${input.max}.`);
                input.value = 20;

            }
        };
        inputs.forEach(input => {
            const errorElement = document.getElementById('error' + input.id.slice(-1));

            input.addEventListener('change', function () {
                validateInput(input, errorElement);
            });
        });

        showStep(currentStep); // Показать первый шаг
        // document.getElementById('nextBtn').style.display = 'inline'; // Показать кнопку "Далее"
    });

    function showStep(step) {
        const steps = document.querySelectorAll('.step');
        steps.forEach((s, index) => {
            s.classList.toggle('active', index === step);
        });

        // Управление видимостью кнопок
        document.getElementById('prevBtn').style.display = step === 0 ? 'none' : 'inline';
        document.getElementById('nextBtn').style.display = 'none';
        if (step == 0 || step == totalSteps)
            document.getElementById('nextBtn').style.display = 'inline';
        // document.getElementById('nextBtn').style.display = step === totalSteps - 1 ? 'none' : 'inline';
        document.getElementById('submitBtn').style.display = step === totalSteps - 1 ? 'inline' : 'none';
        document.getElementById('buildCacke').style.display = step === totalSteps - 1 ? 'inline' : 'none';
    }

    document.getElementById('nextBtn').addEventListener('click', () => {
        if (currentStep < totalSteps - 1) {
            currentStep++;
            showStep(currentStep);
        }
    });

    document.getElementById('prevBtn').addEventListener('click', () => {
        if (currentStep > 0) {
            currentStep--;
            showStep(currentStep);
        }
    });
</script>

<script>
    function showValue() {
        var slider = document.getElementById("guest_range");
        var output = document.getElementById("value_range");
        output.innerHTML = slider.value; // Display the default slider value
        jsonObject[1]['guest'] = slider.value
        // Update the current slider value (each time you drag the slider handle)
        slider.change = function () {
            output.innerHTML = this.value;

        }
    }

    function selectBisquit(id, step) {
        // Устанавливаем значение выбранного бисквита в скрытое поле
        document.getElementById(`selected_bisquit_${step}`).value = id;
        document.getElementById('nextBtn').style.display = 'inline';
        jsonObject[step]['bisquit'] = id

    }
    function selectFilling(id, step) {
        // Устанавливаем значение выбранной начинки в скрытое поле
        document.getElementById(`selected_filling_${step}`).value = id;
        jsonObject[step]['filling'] = id
    }

</script>
<script>
    function showInputFields(id) {
        const shapeSelect = document.getElementById(`shapeSelect_${id}`);
        const inputFields = document.getElementById(`inputFields_${id}`);
        const squareFields = document.getElementById(`squareFields_${id}`);
        const circleFields = document.getElementById(`circleFields_${id}`);
        const rectangleFields = document.getElementById(`rectangleFields_${id}`);

        // Скрываем все поля ввода
        inputFields.style.display = 'none';
        squareFields.style.display = 'none';
        circleFields.style.display = 'none';
        rectangleFields.style.display = 'none';
        // Показываем соответствующие поля ввода в зависимости от выбранной формы
        if (shapeSelect.value) {
            jsonObject[id] = { "form": shapeSelect.value }
            inputFields.style.display = 'block'; // Показываем контейнер с полями ввода
            if (shapeSelect.value === 'square') {
                squareFields.style.display = 'block';
            } else if (shapeSelect.value === 'circle') {
                circleFields.style.display = 'block';
            } else if (shapeSelect.value === 'rectangle') {
                rectangleFields.style.display = 'block';
            }
        }
    }
</script>
<script>
    let scene, camera, renderer, controls;

    function init3D() {
        // Создаем сцену

        for (var i = 0; i < document.getElementsByTagName('canvas').length; i++) {
            document.getElementsByTagName('canvas')[i].remove();
        }

        scene = new THREE.Scene();
        scene.background = 0x000000
        camera = new THREE.PerspectiveCamera(75, 800 / 600, 0.1, 1000);
        renderer = new THREE.WebGLRenderer({ alpha: true });
        myDiv = document.getElementById('container');
        myDiv.style.width = window.innerWidth / 3;
        myDiv.style.height = window.innerHeight / 3;
        renderer.setSize(800, 600);
        myDiv.appendChild(renderer.domElement);

        // Создаем плоскость
        const planeGeometry = new THREE.PlaneGeometry(800, 600); // Ширина и высота плоскости
        const planeMaterial = new THREE.MeshBasicMaterial({ color: 0xFAEBD7, side: THREE.DoubleSide });
        const plane = new THREE.Mesh(planeGeometry, planeMaterial);
        plane.rotation.x = Math.PI / 2; // Поворачиваем плоскость, чтобы она была горизонтальной
        plane.position.y = -80
        scene.add(plane);

        controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.screenSpacePanning = false;
        controls.enableZoom = true;
        // Устанавливаем камеру
        camera.position.set(25, 25, 125);
        camera.lookAt(0, 0, 0);

        myDiv.addEventListener('mouseenter', () => {
            controls.enabled = true; // Включаем OrbitControls
        });
        myDiv.addEventListener('mouseleave', () => {
            controls.enabled = false; // Включаем OrbitControls
        });

        // Добавляем освещение
        const light = new THREE.AmbientLight(0xffffff); // мягкий белый свет
        scene.add(light);

        animate();
    }

    function animate() {
        requestAnimationFrame(animate);
        // Обновление controls
        controls.update(); // Обновление состояния управления

        renderer.render(scene, camera);
    }

    function createCakeLayer(shape, dimensions, totalHeight) {
        let geometry;
        let material = new THREE.MeshNormalMaterial({ color: 0x808080, flatShading: true }); // Цвет торта

        switch (shape) {
            case 'circle':
                geometry = new THREE.CylinderGeometry(dimensions.radius, dimensions.radius, dimensions.height, 64);
                break;
            case 'square':
                geometry = new THREE.BoxGeometry(dimensions.size, dimensions.size, dimensions.height);
                break;
            case 'rectangle':
                geometry = new THREE.BoxGeometry(dimensions.width, dimensions.height, dimensions.depth);
                break;
            default:
                console.error('Unknown shape:', shape);
                return;
        }
        // cakeLayer.scale.set(0.5, 0.5, 0.5);

        const cakeLayer = new THREE.Mesh(geometry, material);
        cakeLayer.position.y = totalHeight + dimensions.height / 2 + 0.1 - 80; // Расположение слоев+
        scene.add(cakeLayer);

    }



    // Пример вызова функции создания слоя
    document.getElementById('buildCacke').addEventListener('click', () => {
        // Инициализация 3D сцены
        init3D();
        let totalHeight = 0; // Переменная для хранения общей высоты

        for (let i = 2; i <= totalSteps - 1; i++) {
            const shapeSelect = document.getElementById(`shapeSelect_${i}`);
            const selectedShape = shapeSelect.value;
            let dimensions = {};

            if (selectedShape === 'circle') {
                dimensions.radius = parseFloat(document.getElementById(`circleRadius_${i}`).value);
                dimensions.height = dimensions.radius / 3; // Высота слоя
                document.getElementById(`rectangleWidth_${i}`).disabled = true;
                document.getElementById(`rectangleHeight_${i}`).disabled = true;
                document.getElementById(`squareSide_${i}`).disabled = true;
                jsonObject[i].size = { 'r': dimensions.radius, 'h': dimensions.height }
            } else if (selectedShape === 'square') {
                dimensions.size = parseFloat(document.getElementById(`squareSide_${i}`).value);
                dimensions.height = dimensions.size; // Высота слоя
                document.getElementById(`rectangleWidth_${i}`).disabled = true;
                document.getElementById(`rectangleHeight_${i}`).disabled = true;
                document.getElementById(`circleRadius_${i}`).disabled = true;
                jsonObject[i].size = { 'a': dimensions.size }
            } else if (selectedShape === 'rectangle') {
                dimensions.width = parseFloat(document.getElementById(`rectangleWidth_${i}`).value);
                dimensions.depth = parseFloat(document.getElementById(`rectangleHeight_${i}`).value);// Высота слоя
                dimensions.height = dimensions.depth * 1 / 3;
                document.getElementById(`circleRadius_${i}`).disabled = true;
                document.getElementById(`squareSide_${i}`).disabled = true;
                jsonObject[i].size = { 'a': dimensions.width, 'b': dimensions.depth, 'c': dimensions.height }
            }

            // Установка позиции слоя на основе общей высоты
            createCakeLayer(selectedShape, dimensions, totalHeight);

            // Обновление общей высоты
            totalHeight += dimensions.height; // Увеличиваем общую высоту на высоту текущего слоя
        }

        console.log(JSON.stringify(jsonObject))
    });

</script>


{% endblock %}