{% extends 'main/templates/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .step {
        display: none;
        /* Скрываем все шаги по умолчанию */
    }

    .step.active {
        display: block;
        /* Показываем только активный шаг */
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

<h2>Введите количество слоев:</h2>
<input type="number" id="stepCount" min="1" required>
<button id="createSteps" class="btn btn-sm btn-success">Создать слои</button>

<form id="multiStepForm" style="margin-top: 20px;">
    <div id="stepsContainer"></div>
    <button type="button" id="prevBtn" style="display:none;" class="btn btn-sm btn-primary">Назад</button>
    <button type="button" id="nextBtn" style="display:none;" class="btn btn-sm btn-primary">Далее</button>
    <button type="button" id="submitBtn" style="display:none;" class="btn btn-sm btn-primary">Отправить</button>
    <button type="button" id="buildCacke" style="display:none;" class="btn btn-sm btn-primary">buildCake</button>
</form>

<script>
    const stepsContainer = document.getElementById('stepsContainer');
    let currentStep = 0;
    let totalSteps = 0;

    document.getElementById('createSteps').addEventListener('click', () => {
        totalSteps = parseInt(document.getElementById('stepCount').value) + 2;
        if (isNaN(totalSteps) || totalSteps < 1 || totalSteps - 2 > 5) {
            alert('Пожалуйста, введите корректное количество слоев. От 1 до 5');
            return;
        }

        // Очищаем контейнер шагов
        stepsContainer.innerHTML = '';
        currentStep = 0;

        // Создание шагов динамически
        for (let i = 1; i <= totalSteps; i++) {
            const stepDiv = document.createElement('div');
            stepDiv.classList.add('step');
            if (i === 1) {
                stepDiv.classList.add('active'); // Первый шаг активен
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <div class="d-grid mt-2 mb-2 justify-content-between m-auto">
                    <label class="form-label">количество гостей: <span id="value_range"></span>
                        <input type="range" class="form-range" min="1" max="20" step="1" id="guest_range" onchange="showValue()" name="select_guest">
                    </label>
                    </div>
                    
                `;
            }
            else if ((i > 1) & (i < totalSteps))
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <label for="input${i}">Введите данные для слоя ${i}:</label>
                    <label>форма слоя
                        <select name="select_form_${i}" onchange="showInputFields(${i})" id="shapeSelect_${i}">
                            <option value="square" id="square_${i}">квадрат</option>
                            <option value="circle" id="circle_${i}">круг</option>
                            <option value="rectangle" id="rectangle_${i}">прямоугольник</option>
                        </select>
                    </label>
                    <div id="inputFields_${i}" style="display: none;" class="mt-3 mb-3">
                        <div id="squareFields_${i}" style="display: none;">
                            <label for="squareSide_${i}">Сторона квадрата:</label>
                            <input type="number" id="squareSide_${i}" name="squareSide_${i}" placeholder="Введите сторону" value=0>
                        </div>
                        <div id="circleFields_${i}" style="display: none;">
                            <label for="circleRadius_${i}">Радиус круга:</label>
                            <input type="number" id="circleRadius_${i}" name="circleRadius_${i}" placeholder="Введите радиус" value=0>
                        </div>
                        <div id="rectangleFields_${i}" style="display: none;">
                            <label for="rectangleWidth_${i}">Ширина прямоугольника:</label>
                            <input type="number" id="rectangleWidth_${i}" name="rectangleWidth_${i}" placeholder="Введите ширину" value=0>
                            <label for="rectangleHeight_${i}">Длина прямоугольника:</label>
                            <input type="number" id="rectangleHeight_${i}" name="rectangleHeight_${i}" placeholder="Введите длину" value=0>
                        </div>
                    </div>
                    
                    <div class="d-flex mt-3 mb-2 justify-content-between m-auto w-75">
                    {% for bisquit in bisquits %}
                    <button type="button" class="btn btn-outline-dark" title="{{bisquit.descrition}}" onclick="selectBisquit({{bisquit.id}},${i})">{{bisquit.title}}</button>
                    {% endfor %}
                    </div>
                    <input type="hidden" name="selected_bisquit_${i}" id="selected_bisquit_${i}">
                `;
            else
                stepDiv.innerHTML = `
                    <h2>Шаг ${i}</h2>
                    <label for="input${i}">выберите начинку:</label>
                    <div class="d-flex mt-2 mb-2 justify-content-between m-auto w-75">
                    {% for filling in fillings %}
                    <button type="button" class="btn btn-outline-dark" title="{{filling.descrition}}" onclick="selectFilling({{filling.id}},${i})">{{filling.title}}</button>
                    {% endfor %}
                    </div>
                    <input type="hidden" name="selected_filling_${i}" id="selected_filling_${i}">
                    
                `;
            stepsContainer.appendChild(stepDiv);
        }

        showStep(currentStep); // Показать первый шаг
        document.getElementById('nextBtn').style.display = 'inline'; // Показать кнопку "Далее"
    });

    function showStep(step) {
        const steps = document.querySelectorAll('.step');
        steps.forEach((s, index) => {
            s.classList.toggle('active', index === step);
        });

        // Управление видимостью кнопок
        document.getElementById('prevBtn').style.display = step === 0 ? 'none' : 'inline';
        document.getElementById('nextBtn').style.display = step === totalSteps - 1 ? 'none' : 'inline';
        document.getElementById('submitBtn').style.display = step === totalSteps - 1 ? 'inline' : 'none';
        document.getElementById('buildCacke').style.display = step === totalSteps - 1 ? 'inline' : 'none';
    }

    document.getElementById('nextBtn').addEventListener('click', () => {
        if (currentStep < totalSteps - 1) {
            currentStep++;
            showStep(currentStep);
        }
    });

    document.getElementById('prevBtn').addEventListener('click', () => {
        if (currentStep > 0) {
            currentStep--;
            showStep(currentStep);
        }
    });
</script>

<script>
    function showValue() {
        var slider = document.getElementById("guest_range");
        var output = document.getElementById("value_range");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.change = function () {
            output.innerHTML = this.value;
        }
    }

    function selectBisquit(id, step) {
        // Устанавливаем значение выбранного бисквита в скрытое поле
        document.getElementById(`selected_bisquit_${step}`).value = id;
    }
    function selectFilling(id, step) {
        // Устанавливаем значение выбранной начинки в скрытое поле
        document.getElementById(`selected_filling_${step}`).value = id;
    }

</script>
<script>
    function showInputFields(id) {
        const shapeSelect = document.getElementById(`shapeSelect_${id}`);
        const inputFields = document.getElementById(`inputFields_${id}`);
        const squareFields = document.getElementById(`squareFields_${id}`);
        const circleFields = document.getElementById(`circleFields_${id}`);
        const rectangleFields = document.getElementById(`rectangleFields_${id}`);

        // Скрываем все поля ввода
        inputFields.style.display = 'none';
        squareFields.style.display = 'none';
        circleFields.style.display = 'none';
        rectangleFields.style.display = 'none';
        // Показываем соответствующие поля ввода в зависимости от выбранной формы
        if (shapeSelect.value) {
            inputFields.style.display = 'block'; // Показываем контейнер с полями ввода
            if (shapeSelect.value === 'square') {
                squareFields.style.display = 'block';
            } else if (shapeSelect.value === 'circle') {
                circleFields.style.display = 'block';
            } else if (shapeSelect.value === 'rectangle') {
                rectangleFields.style.display = 'block';
            }
        }
    }
</script>
<script>
    let scene, camera, renderer;

    function init3D() {
        // Создаем сцену

        for (var i = 0; i < document.getElementsByTagName('canvas').length; i++) {
            document.getElementsByTagName('canvas')[i].remove();
        }
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        // Устанавливаем камеру
        camera.position.set(25, 25, 25);
        camera.lookAt(0, 0, 0);

        // Добавляем освещение
        const light = new THREE.AmbientLight(0xffffff); // мягкий белый свет
        scene.add(light);

        animate();
    }

    function animate() {
        requestAnimationFrame(animate);
        renderer.render(scene, camera);
    }

    function createCakeLayer(shape, dimensions, totalHeight) {
        let geometry;
        let material = new THREE.MeshStandardMaterial({ color: 0x00ff00, flatShading: true }); // Цвет торта

        switch (shape) {
            case 'circle':
                geometry = new THREE.CylinderGeometry(dimensions.radius, dimensions.radius, dimensions.height, 64);
                break;
            case 'square':
                geometry = new THREE.BoxGeometry(dimensions.size, dimensions.size, dimensions.height);
                break;
            case 'rectangle':
                geometry = new THREE.BoxGeometry(dimensions.width, dimensions.height, dimensions.depth);
                break;
            default:
                console.error('Unknown shape:', shape);
                return;
        }
        // cakeLayer.scale.set(0.5, 0.5, 0.5);

        const cakeLayer = new THREE.Mesh(geometry, material);
        cakeLayer.position.y = totalHeight + dimensions.height / 2 + 0.1; // Расположение слоев+
        console.log(totalHeight, dimensions.height, dimensions)
        scene.add(cakeLayer);
        // Создание границ
        const edges = new THREE.EdgesGeometry(geometry);
        const edgeLines = new THREE.LineSegments(edges, new THREE.LineBasicMaterial({ color: 0xff0000, linewidth: 3 })); // Цвет границ
        edgeLines.position.y = cakeLayer.position.y; // Установка позиции границ
        scene.add(edgeLines);
    }



    // Пример вызова функции создания слоя
    document.getElementById('buildCacke').addEventListener('click', () => {
        // Инициализация 3D сцены
        init3D();
        let totalHeight = 0; // Переменная для хранения общей высоты

        for (let i = 2; i <= totalSteps - 1; i++) {
            const shapeSelect = document.getElementById(`shapeSelect_${i}`);
            const selectedShape = shapeSelect.value;
            let dimensions = {};

            if (selectedShape === 'circle') {
                dimensions.radius = parseFloat(document.getElementById(`circleRadius_${i}`).value);
                dimensions.height = dimensions.radius / 3; // Высота слоя
            } else if (selectedShape === 'square') {
                dimensions.size = parseFloat(document.getElementById(`squareSide_${i}`).value);
                dimensions.height = dimensions.size; // Высота слоя
            } else if (selectedShape === 'rectangle') {
                dimensions.width = parseFloat(document.getElementById(`rectangleWidth_${i}`).value);
                dimensions.depth = parseFloat(document.getElementById(`rectangleHeight_${i}`).value);// Высота слоя
                dimensions.height = dimensions.depth * 1 / 3;
            }

            // Установка позиции слоя на основе общей высоты
            createCakeLayer(selectedShape, dimensions, totalHeight);

            // Обновление общей высоты
            totalHeight += dimensions.height; // Увеличиваем общую высоту на высоту текущего слоя
        }

    });

</script>
{% endblock %}