{% extends 'main/templates/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}


<h1>Заказ торта</h1>
<div class="d-flex">
    <form action="" method="POST" class="form-control w-75">
        {% csrf_token %}
        <label for="layers">Количество слоев:</label>
        <select id="layers" name="layers" required class="form-select" onchange="addLayer()">
            <option selected disabled>выберите</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br>

        <label for="biscuit">Выберите бисквит:</label>
        <select id="biscuit" name="biscuit" required class="form-select">
            {% for bisquit in bisquits %}
            <option value="{{bisquit.id}}" title="{{bisquit.descrition}}">{{bisquit.title}}</option>
            {% endfor %}
        </select>
        <br>

        <label for="filling">Выберите начинку:</label>
        <select id="filling" name="filling" required class="form-select">
            {% for filling in fillings %}
            <option value="{{filling.id}}" title="{{filling.descrition}}">{{filling.title}}</option>
            {% endfor %}
        </select>

        <br>
        {{ formset.management_form }}
        <div id="formset-container">
            {% for form in formset %}
            <div class="formset_row form-control">
                {{form.as_div}}
                <button type="button" class="remove-form btn btn-sm btn-outline-danger">удалить</button>
            </div>
            <br>
            {% endfor %}
        </div>
        <button type="button" id="add-form" class="btn btn-sm btn-outline-info">добавить форму</button>
        <hr>
        <br>

        <label for="sprinkles">Выберите посыпку:</label>
        <select id="sprinkles" name="sprinkles" class="form-select" multiple>
            {% for sprinkles in sprinkleses %}
            <option value="{{sprinkles.id}}">{{sprinkles.title}}</option>
            {% endfor %}
        </select>
        <br>

        <div id="shape_div" style="display:none;">
            <label for="shape">Форма:</label>
            <select id="shape" name="shape" onchange="toggleSizeInputs()" required class="form-select">
                <option selected disabled>выберите</option>
                <option value="rectangle">Прямоугольник</option>
                <option value="circle">Круг</option>
            </select>
        </div>
        <div id="layers-container">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-secondary" name="action" value="order">Заказать</button>
        <button type="submit" class="btn btn-outline-secondary" name="action" id="generate" value="generate">Генерация</button>
    </form>
    <div class="spinner-border text-info m-auto" id="loader" style="display:none;" role="status">
        <span style="">загрузка...</span>
    </div>
    <script>
        const generate_button = document.getElementById('generate');
        generate_button.addEventListener('click', function() {
        const loader = document.getElementById('loader');
        loader.style.display = 'block';
    });
    </script>
    {% if image_url %}
    <div class="p-3">
        <p>{{text|linebreaksbr}}</p>
        <h2>Вот ваше изображение:</h2>
        <img src="{{ image_url }}" width="312" alt="Полученное изображение"/>
    </div>
    {% endif %}
</div>

<script>
    let formsetContainer = document.getElementById('formset-container');
    let formCount = {{ formset.total_form_count }}; // Общее количество форм
    document.getElementById('add-form').addEventListener('click', function() {
        // Клонируем первую форму
        let newForm = formsetContainer.children[0].cloneNode(true);

        // Обновляем индексы
        let regex = new RegExp(`form-(\\d+)`, 'g');
        newForm.innerHTML = newForm.innerHTML.replace(regex, `form-${formCount}`);

        // Сбрасываем значения
        newForm.querySelectorAll('input').forEach(input => {
            input.value = '';
        });
        if (formCount <= 2) {
                formsetContainer.appendChild(newForm);
                formCount++;}
        else
            alert('максимум 3 вида')
    });

    formsetContainer.addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-form'))
            if (formCount != 1)
                {e.target.closest('.formset_row').remove();
                formCount--}
    });
</script>

<script>
    function toggleSizeInputs() {
    const layers = Number(document.getElementById('layers').value)
        const shape = document.getElementById(`shape`).value;
        for (let i = 1; i <= layers; i++) {
          const rectangleInputs = document.getElementById(`rectangle-${i}`);
            const circleInputs = document.getElementById(`circle-${i}`);

            if (shape === 'rectangle') {
                rectangleInputs.style.display = 'block';
                circleInputs.style.display = 'none';
                var select_disable = circleInputs.children[1];
                var select_enable = rectangleInputs.children[1];
            } else {
                rectangleInputs.style.display = 'none';
                circleInputs.style.display = 'block';
                var select_disable = rectangleInputs.children[1];
                var select_enable = circleInputs.children[1];
            }
            select_disable.disabled = true;
            select_enable.disabled = false;
        }

    }

    function addLayer() {
    const layers = Number(document.getElementById('layers').value)
    const layersContainer = document.getElementById('layers-container');
    const shape_div = document.getElementById('shape_div');
    if (layers)
        shape_div.style.display="block";
    else
        shape_div.style.display="none";
    const shape = document.getElementById("shape").value;
    document.getElementById("shape").selectedIndex = 0;
    layersContainer.innerHTML ='';
    for (let i = 1; i <= layers; i++) {
        const newLayer = document.createElement('div');
        newLayer.className = 'layer';
        newLayer.id = `layer-${i}`;
        newLayer.innerHTML = `
            <br>
            <h4>уровень ${i}</h4>
            <div id="rectangle-${i}" class="size-inputs form-select" style="display: none;">
                <label for="size-${i}">Размер (a x b x h), см:</label>
                <select id="size-${i}" name="size-${i}" required>
                {% for size in sizes|get_size:"rectangle" %}
                    <option value="{{size.length}}x{{size.width}}x{{size.height}}">{{size.length}}x{{size.width}}x{{size.height}}</option>
                {% endfor %}
                </select>
            </div>

            <div id="circle-${i}" class="size-inputs form-select" style="display: none;">
                <label for="size-${i}">Размер (d x h), см:</label>
                <select id="size-${i}" name="size-${i}" required>
                    {% for size in sizes|get_size:"circle" %}
                        <option value="{{size.diameter}}x{{size.height}}">{{size.diameter}}x{{size.height}}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
        `;
        layersContainer.appendChild(newLayer);
    }
    }
</script>
{% endblock %}