{% extends 'main/templates/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<h1>Заказ торта</h1>
<form action="" method="POST" class="form-control">
    {% csrf_token %}
    <label for="layers">Количество слоев:</label>
    <select id="layers" name="layers" required class="form-select" onchange="addLayer()">
        <option selected>выберите</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br><br>

    <label for="biscuit">Выберите бисквит:</label>
    <select id="biscuit" name="biscuit" required class="form-select">
        {% for bisquit in bisquits %}
        <option value="{{bisquit.id}}" title="{{bisquit.descrition}}">{{bisquit.title}}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="filling">Выберите начинку:</label>
    <select id="filling" name="filling" required class="form-select">
        {% for filling in fillings %}
        <option value="{{filling.id}}" title="{{filling.descrition}}">{{filling.title}}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="decoration">Выберите украшение:</label>
    <select id="decoration" name="decoration" required class="form-select">
        {% for decoration in decorations %}
        <option value="{{decoration.id}}">{{decoration.title}}</option>
        {% endfor %}
    </select>
    <br><br>

    <div id="shape_div" style="display:none;">
        <label for="shape">Форма:</label>
        <select id="shape" name="shape" onchange="toggleSizeInputs()" required class="form-select">
            <option selected>выберите</option>
            <option value="rectangle">Прямоугольник</option>
            <option value="circle">Круг</option>
        </select>
    </div>
    <div id="layers-container">
    </div>
    <br><br>
    <button type="submit" class="btn btn-outline-secondary">Заказать</button>
</form>
{% if image_url %}
<h2>Вот ваше изображение:</h2>
<img src="{{ image_url }}" alt="Полученное изображение"/>
{% endif %}

<script>
    function toggleSizeInputs() {
    const layers = Number(document.getElementById('layers').value)
        const shape = document.getElementById(`shape`).value;
        for (let i = 1; i <= layers; i++) {
          const rectangleInputs = document.getElementById(`rectangle-${i}`);
            const circleInputs = document.getElementById(`circle-${i}`);

            if (shape === 'rectangle') {
                rectangleInputs.style.display = 'block';
                circleInputs.style.display = 'none';
                var select_disable = circleInputs.children[1];
                var select_enable = rectangleInputs.children[1];
            } else {
                rectangleInputs.style.display = 'none';
                circleInputs.style.display = 'block';
                var select_disable = rectangleInputs.children[1];
                var select_enable = circleInputs.children[1];
            }
            select_disable.disabled = true;
            select_enable.disabled = false;
        }

    }

    function addLayer() {
    const layers = Number(document.getElementById('layers').value)
    const layersContainer = document.getElementById('layers-container');
    const shape_div = document.getElementById('shape_div');
    if (layers)
        shape_div.style.display="block";
    else
        shape_div.style.display="none";
    const shape = document.getElementById("shape").value;
    document.getElementById("shape").selectedIndex = 0;
    layersContainer.innerHTML ='';
    for (let i = 1; i <= layers; i++) {
        const newLayer = document.createElement('div');
        newLayer.className = 'layer';
        newLayer.id = `layer-${i}`;
        newLayer.innerHTML = `
            <br><br>
            <h4>уровень ${i}</h4>
            <div id="rectangle-${i}" class="size-inputs form-select" style="display: none;">
                <label for="size-${i}">Размер (a x b x h), см:</label>
                <select id="size-${i}" name="size-${i}" required>
                {% for size in sizes|get_size:"rectangle" %}
                    <option value="{{size.length}}x{{size.width}}x{{size.height}}">{{size.length}}x{{size.width}}x{{size.height}}</option>
                {% endfor %}
                </select>
            </div>

            <div id="circle-${i}" class="size-inputs form-select" style="display: none;">
                <label for="size-${i}">Размер (d x h), см:</label>
                <select id="size-${i}" name="size-${i}" required>
                    {% for size in sizes|get_size:"circle" %}
                        <option value="{{size.diameter}}x{{size.height}}">{{size.diameter}}x{{size.height}}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
        `;
        layersContainer.appendChild(newLayer);
    }
    }
</script>
{% endblock %}