{% extends 'main/templates/base.html' %}
{% block content %}
<div style="background-image: linear-gradient(to right, rgba(109, 179, 242, .6), rgba(109, 179, 242, .4)),url({{MEDIA_URL}}/bg.jpg); width: 100%; height: 40%; background-size: contain;"
    class=" text-white rounded-3 d-flex">
    <div class="w-50 position-relative d-flex flex-column justify-content-around" style="left: 10%;">
        <div>
            <h1 class="rubik-mono-one-regular">ТОРТЫ, ВЫПЕЧКА И ГОТОВЫЕ СЕТЫ С ДОСТАВКОЙ ПО ГОРОДУ</h1>
        </div>
        <div class="d-flex justify-content-between">
            <img src="{{ MEDIA_URL }}/cacke.png" width="64">
            <img src="{{ MEDIA_URL }}/tort.png" width="64">
            <img src="{{ MEDIA_URL }}/donat.png" width="64">
        </div>
        <div>
            <h3 class="rubik-mono-one-regular mt-3">ЗВОНИТЕ: +7 (xxx) xxx xx xx</h3>
        </div>
    </div>
    <div class="w-50 d-flex justify-content-center position-relative">
        <div class="align-self-center border rounded-circle">
            <img src="{{ MEDIA_URL }}/sweet.png" width="98">
        </div>
    </div>

</div>

<h1 class="rubik-mono-one-regular mt-2">Хиты продаж <img src="{{ MEDIA_URL }}/fire.png" width="32"></h1>
<div class="justify-content-around products">
    {% for object in object_list %}
    <div class="product-tile p-1 mb-1">
        <div class="d-flex product-tile-image">
            <img src="{{object.image.url}}">
        </div>
        <div class="product-tile-info">
            <h3>{{object}}</h3>
            <p>{{object.description|truncatechars:150|linebreaks}}</p>
            <p><strong>Цена: {{object.price}}</strong></p>
        </div>
        <div class="product-tile-actions">
            <a href="{% url 'add_to_cart' product_id=object.id %}" class="add-to-cart">добавить в корзину</a>
            <a href="{{object.get_absolute_url}}" class="view-details">детальнее</a>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'constructor' %}">или сделай сам</a>
{% endblock %}