{% extends 'main/templates/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .text-muted {
        font-size: small;
    }
</style>
<h3 class="text-center">{{object.name_product}}</h3>
<div class="d-flex">
    <div>
        <img src="{{object.image.url}}" width="256">
    </div>
    <div class="ms-3 me-3 p-3">
        <p>
            -{{object.category}}-
        </p>
        <p><span class="fw-bolder">Описание: </span>{{object.description|linebreaks}}</p>
        <div style="line-height: 0.5;">
            <p>состав:</p>
            {% for ingridient in object.get_ingridients %}
            <p>{{ingridient.ingridient}} - {{ingridient.amount}} {{ingridient.get_unit_display}}</p>
            {% endfor %}
        </div>
        <p>энергитическая ценность на 100 гр. продукта</p>
        <span class="fw-bolder">белки: </span>
        <div class="progress text-center" role="progressbar" aria-label="Success example"
            aria-valuenow="{{object.get_pfc.total_protein}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning bg-warning" style="width: {{object.get_pfc.total_protein}}%">
                {{object.get_pfc.total_protein}}
            </div>
        </div>
        <span class="fw-bolder">жиры: </span>
        <div class="progress" role="progressbar" aria-label="Warning example"
            aria-valuenow="{{object.get_pfc.total_fat}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning bg-info" style="width: {{object.get_pfc.total_fat}}%">
                {{object.get_pfc.total_fat}}
            </div>
        </div>
        <span class="fw-bolder">углеводы: </span>
        <div class="progress" role="progressbar" aria-label="Warning example"
            aria-valuenow="{{object.get_pfc.total_carbohydrate}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning bg-danger" style="width: {{object.get_pfc.total_carbohydrate}}%">
                {{object.get_pfc.total_carbohydrate}}
            </div>
        </div>
        <span class="fw-bolder">ккал: </span><span>{{object.get_pfc.kcal}}</span>
    </div>
</div>
<div class="product-tile-actions text-center">
    <a href="{% url 'add_to_cart' product_id=object.id %}" class="add-to-cart">добавить в корзину</a>
</div>
{% for comment in comments %}
<div class="p-3 w-75 m-auto">
    <p class="text-muted">{{comment.user}} {{comment.created_at}}</p>
    <div class="bg-light">
        <p>{{comment.content}}</p>
        <button type="button" class="badge bg-primary text-wrap"
            onclick="document.getElementById('reply-form-{{ comment.id }}').style.display='block'; return false;">ответить</button>
    </div>
</div>
{% if comment.replies.all %}
<div class="p-3 w-75 m-auto">
    {% for reply in comment.replies.all %}
    <div class="ms-3">
        <p class="text-success">{{reply.user}} {{reply.created_at}}</p>
        <div class="bg-light">
            <p>{{reply.content}}</p>
            <button type="button" class="badge bg-primary text-wrap"
                onclick="document.getElementById('reply-form-{{ reply.id }}').style.display='block'; return false;">ответить</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div id="reply-form-{{ comment.id }}" style="display:none;">
    <form method="post" class="w-50 m-auto">
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <!-- Скрытое поле для идентификатора родительского комментария -->
        {{form|crispy}}
        <button type="submit">Отправить</button>
    </form>
</div>

{% endfor %}
{% if user.is_authenticated %}
<form method="POST" class="w-75 m-auto">
    {% csrf_token %}
    <input type="hidden" name="parent_id" value="{{ comment.id }}">
    {{form|crispy}}
    <button class="btn btn-outline-primary">
        <отправить>
    </button>
</form>
{% endif %}
{% endblock %}