{% extends 'main/templates/base.html' %}
{% block content %}
{% for comment in comments %}
<div class="p-3 w-75 m-auto">
    <p class="text-muted">{{comment.user}} {{comment.created_at}}</p>
    <div class="bg-light">
        <p>{{comment.content}}</p>
        <a href="{% url 'app_del_comments' pk=comment.id fun='apply'%}"
            class="badge bg-primary text-wrap">пропустить</a>
        <a href="{% url 'app_del_comments' pk=comment.id fun='del'%}" class="badge bg-danger text-wrap">удалить</a>

    </div>
</div>
{% endfor %}
{% endblock %}