{% extends 'main/templates/base.html' %}
{% load crispy_forms_tags %}
{% load webpush_notifications %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />

<div class="bg-light m-auto" style="max-width: 980px;">
    <h3 class="h3 mb-3 fw-bold text-center">{{object}}</h3>
    <form method="POST" class="p-3" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary w-100 py-2" type="submit">сохранить</button>
    </form>
</div>
{% webpush_button with_class="btn btn-outline-info" %}
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script>
    $("#address").suggestions({
        token: "93663fb5e271e7fb777835e7489ff93563d87426",
        type: "ADDRESS",
        constraints: {
            locations: [{ region: "Байконур" },]

            },

            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function(suggestion) {
                console.log(suggestion);
            }
    });
</script>

 <script>
        const phoneInput = document.getElementById('id_phone');

        phoneInput.addEventListener('input', function (e) {
            // Удаляем все символы, кроме цифр
            let input = e.target.value.replace(/\D/g, '');

            // Ограничиваем до 11 цифр (1 для кода страны + 10 для номера)
            if (input.length > 11) {
                input = input.slice(0, 11);
            }

            // Форматируем номер
            let formattedInput = '+7';
            if (input.length > 1) {
                formattedInput += '-' + input.slice(1, 4); // Код региона
            }
            if (input.length > 4) {
                formattedInput += '-' + input.slice(4, 7); // Первые три цифры номера
            }
            if (input.length > 7) {
                formattedInput += '-' + input.slice(7, 9); // Первые две цифры после
            }
            if (input.length > 9) {
                formattedInput += '-' + input.slice(9, 11); // Последние две цифры
            }

            e.target.value = formattedInput;
        });
    </script>
{% endblock %}